@page "/brain"
@inject HttpClient Http
<PageTitle>F.Garrido-Munoz Portfolio</PageTitle>

<div class="header-container">
    <h3 class="info-title-page">brAIn: Analysis of biological images using AI to understand brain function and disfunction</h3>
    <img src="images/BRAIN LOGO.svg" alt="brAIn Logo" class="page-logo">
</div>

<NavLink href="/fgmportfolio/#home" class="back-button">
    ⬅ Back
</NavLink>

<div class="page-description">
    <p>Hello there</p>
</div>

<Footer Http=@Http PrimaryColor="#4E567E" SecondaryColor="#D2F1E4" />