@page "/brain"
@inject HttpClient Http
<PageTitle>F.Garrido-Munoz Portfolio</PageTitle>

<div class="header-container">
    <h3 class="info-title-page">brAIn: Analysis of biological images using AI to understand brain function and disfunction</h3>
    <img src="images/BRAIN LOGO.svg" alt="brAIn Logo" class="page-logo">
</div>

<NavLink href="/fgmportfolio/#home" class="back-button">
    ⬅ Back
</NavLink>

<div class="page-description">
    <p>The brain is a highly complex organ, characterized by intricate interactions among its cells, structures and regions. A diverse array of pathologies or conditions often triggers a cascade of structural and physiological changes in brain tissues. Beyond direct effects on neurons, there are other key elements whose alterations also contribute to brain disease, among them the brain vasculature and microglia. Therefore, changes in their organization and integrity may be assumed as fingerprints of tissue atrophy and dysfunction. However, the analysis of morphological and topological changes resulting from brain disease remains a challenge. Most current data mainly derive from two-dimensional (2D) image analysis coupled to a wide spectrum of molecular assays, which provide limited insight into microglia-vasculature interactions in disease. </p>
</div>

<div class="page-description">
    <p><b>brAIn</b> aims to better understand the morphophysiological changes in microglia and vasculature during brain disease</p>
    <img src="images/BRAIN branches.svg", alt="brAIn branches" class="page-center-img">
</div>


<div class="footer-image-container">
    <img src="images/momentum footer.svg" alt="funding" class="footer-image">
</div>

<Footer Http=@Http PrimaryColor="#4E567E" SecondaryColor="#D2F1E4" />