@page "/paradys"
@inject HttpClient Http
<PageTitle>F.Garrido-Munoz Portfolio</PageTitle>

<div class="header-container">
    <h3 class="info-title-page">PARADYS: MultiPARAmetric Bronchopulmonary DYSplasia Prediction</h3>
    <img src="images/paradyslogo.svg" alt="PARADYS Logo" class="page-logo">
</div>

<NavLink href="/fgmportfolio/#home" class="back-button">
    ⬅ Back
</NavLink>

<div class="page-description">
    <p>Bronchopulmonary Dysplasia (BPD) is a common human pulmonary disease in preterm neonates born before 30 weeks of gestation. Although very low preterm birth survival rates have increased during the last few decades, BPD rates remain unsolved. Its prevalence, added to a sum of comorbidities associated with it – which increases diagnosis difficulty – has attracted researchers to uncover its possible causes. Recently, the use of high throughput proteomics as well as lung ultrasound (LU) techniques have stepped out as useful tools for BPD patients proteome characterization and BPD assessment, respectively. In this study, high throughput proteomics was applied to nasopharyngeal aspirate (NPA) samples, a novel non-invasive sampling method, to study potential proteomic biomarkers capable of early patient discrimination (no-BPD vs. BPD).</p>
    <img src="images/paradyswf.jpg", alt="PARADYS Workflow" class="page-center-img">
</div>

<div class="page-description">
    <p>Protein extracts were analyzed with nano-liquid chromatography coupled to mass spectrometry (nLS-MS) working in diaPASEF acquisition. Runs were processed using the DIA-NN software. Differential abundance, functional enrichment, exploratory and prediction analysis were carried out using RStudio bioinformatics (limma, clusterProfiler, mixOmics and pROC packages). The STRING online platform was used for differentially expressed proteins (DEPs) network building.</p>
</div>

<div class="footer-image-container">
    <img src="images/footer paradys.svg" alt="funding" class="footer-image">
</div>

<Footer Http=@Http PrimaryColor="#4E567E" SecondaryColor="#D2F1E4" />