@page "/publications"
@inject HttpClient Http

<h2>Publications</h2>

<NavLink href="/#home" class="back-button">
    ⬅ Back
</NavLink>

<p>You underestimate my power</p>

<Footer Http=@Http PrimaryColor="#4E567E" SecondaryColor="#D2F1E4" />